<div class="bg1">
<div class="wrapper" style="display:flex">

			<div class="left" style="width:30vw; height:600px; overflow: scroll">
				<table class="table table-striped">
					<tr>

						<th id="position">Object</th>

					</tr>

					<% @emails.each do |email| %>

					<tr>
<!-- 						<% if email.read == true %>
						<td id="object_<%= email.id %>" class="read" ><%= link_to email.object, email_path(email), remote: true %></td>
						<% else %>
						<td id="object_<%= email.id %>" class="ur" ><%= link_to email.object, email_path(email), remote: true %></td>
						<% end %> -->
<td id="object_<%= email.id %>" class="ur" ><%= link_to email.object, email_path(email), remote: true %></td>

					</tr>
					<% end %>
				</table>

			</div>

			<div class="right" style="width:70vw; height:600px;background-color:white;">
				<table class="table table-striped">
					<tr>

						<th>Content</th>

					</tr>
				</table>

				<% @emails.each do |email| %>

				<div id="mail_<%= email.id %>" class="emailcontent" style="display: none;" >
					<div class="row" id="box">
						<h1><%= email.object %></h1><br>
						<p><%= email.body %></p>

						<%= link_to email, remote: true, method: :delete, class: 'delete_email' , data: { confirm: 'Are you sure?' } do %>
						<button class="moche">Delete</button>
						<% end %>

					</div>
				</div>
				<% end %>

			</div>
</div>
</div>